:root {
	--clr-primary: hsl(198, 95%, 36%);
	--clr-primary-dark: hsl(219, 84%, 40%);
	--clr-primary-super-dark: hsl(219, 48%, 13%);

	--clr-neutral-900: 0, 0%, 96%;
	--clr-neutral-100: 0, 0%, 0%;

	@media screen and (max-width: 500px) {
		font-size: 14px;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	color: #000;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	outline: none;
	border: none;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
}

img {
	display: block;
	max-width: 100%;
}

label,
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	display: block;
	font-size: inherit;
	font-family: inherit;
	width: 100%;
	border: 1px solid hsl(var(--clr-neutral-100), 0.1);
	outline: none;
	padding: 0.5rem;
}

input[type='text']:hover,
input[type='text']:focus-visible,
input[type='email']:hover,
input[type='email']:focus-visible,
input[type='tel']:hover,
input[type='tel']:focus-visible,
textarea:hover,
textarea:focus-visible {
	border-color: var(--clr-primary);
}

textarea {
	resize: vertical;
}

/* utilities */

.wrapper {
	width: calc(100% - 2rem);
	max-width: 1170px;
	margin: 0 auto;
	padding: var(--padding, 0 min(1rem, 1vw));
}

.btn {
	display: inline-block;
	padding: 0.75em 2.25em;
	font-weight: 700;
	text-transform: capitalize;
	transition: all 0.35s ease-in-out;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
}

.btn:disabled {
	opacity: 0.7;
	pointer-events: none;
	cursor: auto;
}

.btn-primary {
	background-color: var(--clr-primary-dark);
	color: hsl(var(--clr-neutral-900), 1);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-6 {
	margin-bottom: 6rem;
}

.bullet-before {
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 600;
	color: hsl(var(--clr-neutral-100), 0.8);

	&::before {
		content: '';
		position: absolute;
		left: -1em;
		top: 50%;
		transform: translateY(-50%);
		width: 0.325rem;
		height: 0.325rem;
		border-radius: 50%;
		background-image: linear-gradient(
			90deg,
			rgba(16, 76, 186, 1) 0%,
			rgba(138, 16, 186, 1) 150%
		);
	}
}

// Markdown

.raw-html {
	* {
		margin: revert;
		padding: revert;
		box-sizing: border-box;
	}

	body {
		line-height: 1.5;
		color: #000;
	}

	h1,
	h2,
	h3 {
		line-height: 1.2;
		margin-bottom: 0.25em;
	}

	img {
		max-width: 70%;
		max-height: 70vh;
		object-fit: cover;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	ul {
		list-style: revert;
	}
}

// Alerts
.alert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	padding: 0.75em 1.25em;
	border: 1px solid;
	border-radius: 0.25rem;
	animation: fadeOut ease forwards 5000ms;
}

.alert.success {
	color: #155724;
	background: #d4edda;
	border-color: #c3e6cb;
}

.alert.danger {
	color: #721c24;
	background: #f8d7da;
	border-color: #f5c6cb;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0.2;
		transform: translateY(-200px);
	}
}

// Form errors
.err {
	display: inline-block;
	color: #af1d2b;
	margin-top: 0.5rem;
}
