---
import AboutArea from '../components/AboutArea.astro';
import Carousel from '../components/Carousel.astro';
import ContactForm from '../components/ContactForm.astro';
import Features from '../components/Features.astro';
import Layout from '../layout/Layout.astro';
---

<Layout>
	<main>
		<Carousel />
		<Features />
		<AboutArea />
		<ContactForm />
	</main>
</Layout>
