---
const {
	title = 'Custom Software',
	img = 'https://validthemes.live//themeforest/biness/assets/img/it-solution/icon-2.png',
	description = 'Offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar.',
	redirect = '/',
} = Astro.props;
---

<article class="card">
	<h3 class="card__title">{title}</h3>
	<img src={img} alt="" class="card__img" />
	<p class="card__description">{description}</p>
	<a href={redirect} class="card__link"><i class="fas fa-angle-right"></i></a>
</article>

<style>
	.card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		width: 350px;
		padding: 3rem 2rem;
		border: 1px solid #ddd;

		position: relative;
	}

	.card::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: var(--clr-primary-dark);
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
		transform-origin: left;
	}

	.card:hover::after {
		transform: scaleX(1);
	}

	.card__title {
		order: 1;
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.card__img {
		order: 0;
		width: 5rem;
		margin-bottom: 1.75rem;
	}

	.card__description {
		order: 2;
		margin-bottom: 1rem;
		opacity: 0.8;
	}

	.card__link {
		order: 3;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 1px solid #ddd;
		transition: border-color 250ms ease-in-out;
	}

	.card__link:hover {
		border-color: var(--clr-primary-dark);
	}
</style>
