<section class="contact">
	<div class="wrapper">
		<div class="split contact__container">
			<div class="left main-content">
				<header class="contact__header">
					<h2>Please describe your problem</h2>
				</header>
				<form class="contact__form" id="contact-form">
					<div class="input-wrap">
						<input type="text" id="name" name="name" placeholder="Name" />
					</div>
					<div class="input-wrap">
						<input type="email" id="email" name="email" placeholder="Email" />
					</div>
					<div class="input-wrap">
						<input type="tel" id="phone" name="phone" placeholder="Phone" />
					</div>
					<div class="input-wrap">
						<textarea name="message" id="message" placeholder="State your problem here"
						></textarea>
					</div>
					<div class="input-wrap">
						<button class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
			<div class="right">
				<img src="/assets/imgs/img6.png" alt="" />
			</div>
		</div>
	</div>
</section>

<script
	type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script lang="js">
	const nameRegex = /^[a-z ,.'-]{3,}$/i;
	const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
	const phoneRegex = /03[0-9]{2}-[0-9]{7}|[0-9]{11}/;

	const form = document.getElementById('contact-form');
	const formButton = form.querySelector('button');

	form.addEventListener('submit', handleSubmit);

	function handleSubmit(e) {
		e.preventDefault();

		// grabbing fields
		const name = form.name;
		const email = form.email;
		const phone = form.phone;
		const message = form.message;

		// cleaning inputs
		name.value = name.value.trim().replaceAll('  ', '');
		email.value = email.value.trim().replaceAll('  ', '');
		phone.value = phone.value.trim().replaceAll('  ', '');
		message.value = message.value.trim().replaceAll('  ', '');

		if (!nameRegex.test(name.value)) {
			showError(name, 'Please enter a valid name.');
			return;
		}

		if (!emailRegex.test(email.value)) {
			showError(email, 'Please enter a valid email.');
			return;
		}

		if (!phoneRegex.test(phone.value)) {
			showError(phone, 'Please enter a valid phone.');
			return;
		}

		if (!message.value.length) {
			showError(message, 'Please Enter a valid message');
			return;
		}

		formButton.innerText = 'sending...';
		formButton.disabled = true;

		sendEmail();
	}

	function sendEmail() {
		emailjs
			.sendForm('service_bfzaz1s', 'template_nt4nh9f', form, 'eFZfyilt-wGTIUGJf')
			.then(
				function (response) {
					handleSuccess();
				},
				function (err) {
					handleError();
				}
			);
	}

	function showError(field, message) {
		const p = document.createElement('p');
		p.innerText = message;
		p.classList.add('err');
		setTimeout(() => {
			p.remove();
		}, 5000);
		field.after(p);
	}

	function handleSuccess() {
		const p = document.createElement('p');
		p.innerText = 'Your message has been recorded';
		p.classList.add('alert', 'success');
		p.addEventListener(
			'animationend',
			() => {
				p.remove();
			},
			{ once: true }
		);
		document.body.appendChild(p);

		formButton.innerText = 'Submit';
		formButton.disabled = false;
		form.reset();
	}

	function handleError() {
		const p = document.createElement('p');
		p.innerText = 'An error occurred. Please try again';
		p.classList.add('alert', 'danger');
		p.addEventListener(
			'animationend',
			() => {
				p.remove();
			},
			{ once: true }
		);
		document.body.appendChild(p);

		formButton.innerText = 'Submit';
		formButton.disabled = false;
	}
</script>

<style lang="scss">
	.contact {
		&__container {
			background-image: url('/assets/imgs/img7.svg');
		}

		@media screen and (max-width: 1000px) {
			margin-bottom: 4rem;
		}

		.main-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 100%;

			> * {
				width: 100%;
			}
		}

		&__header h2 {
			margin-bottom: 2rem;
			font-size: 2.5rem;
			line-height: 1;
		}

		&__form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			width: 100%;
		}

		.input-wrap {
			width: 100%;
		}
	}

	.split {
		display: flex;

		.left {
			width: 100%;

			@media screen and (min-width: 1000px) {
				width: 55%;
			}
		}

		.right {
			display: none;

			@media screen and (min-width: 1000px) {
				display: block;
				width: 45%;
			}
		}
	}
</style>
