---
import CardTwo from './CardTwo.astro';
---

<section class="features mb-4">
	<div class="wrapper">
		<header class="features__header">
			<p class="bullet-before">What we do</p>
			<h2>Providing IT solutions</h2>
		</header>
		<div class="features__cards">
			<CardTwo
				title="data centers"
				description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam vero dolores ad illo nostrum harum rem? Placeat, temporibus, molestiae doloremque excepturi non, blanditiis unde necessitatibus dignissimos explicabo a quas dolores."
				img="assets/imgs/data_centers.png"
			/>
			<CardTwo
				title="surveillance Soltions"
				description="Security is a basic need for any home or business especially in todays environment. Maintaining safe and secure ecvironment has become crucial. Security and surveillance in Pakistan are in great demand, and our equipment ensures accurate surveillance that you can conveniently monitor at any time and from anywhere"
				img="assets/imgs/cctv.png"
			/>
			<CardTwo
				title="Biometric"
				description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam vero dolores ad illo nostrum harum rem? Placeat, temporibus, molestiae doloremque excepturi non, blanditiis unde necessitatibus dignissimos explicabo a quas dolores."
				img="assets/imgs/biometric.png"
			/>
			<CardTwo
				title="network and security"
				description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam vero dolores ad illo nostrum harum rem? Placeat, temporibus, molestiae doloremque excepturi non, blanditiis unde necessitatibus dignissimos explicabo a quas dolores."
				img="assets/imgs/network_and_security.png"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	.features__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 1fr;
		gap: 1.5rem;
	}

	.features__header {
		margin-bottom: 3rem;
		text-align: center;

		h2 {
			font-size: 2.5rem;
		}
	}
</style>
